* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

/* <--------- Content before the game window --------->*/

#game_name {
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(214, 241, 60)
}

h2 {
  line-height: 1.6;
}

#display-word {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* <--------- Content for the game window ---------> */

.grid {
  display: flex;
  flex-wrap: wrap;
  /* 28 x 28 squares each square is 20px wide */
  width: 560px;
  height: 560px;
  border: 1px solid black;
  /* change the box-sizing to not border-box so the border is outside the grid
     it was wrapping weirdly without this */
  box-sizing: initial;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
}

.wall {
  background-color: blue;
}

.power-pellet {
  background-color: green;
  border-radius: 10px;
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: pink;
  border: 0px;
}

.inky {
  background-color: cyan;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scared-ghost {
  background-color: aquamarine;
  border: 0px;
}

.pac-man {
  background-color: orange;
  border-radius: 10px;
}
