* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --muted-white: rgb(184, 185, 170);
  --muted-red: rgb(212, 69, 69);
  --main-yellow-color: rgb(214, 241, 60);
  --main-button-color: rgb(212, 69, 69);
  --button-color-2: rgb(214, 224, 122);
}
body {
  /* height: auto; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  overflow: auto;
  background: #0f2027;
  color: var(--muted-white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#full-word {
  color: rgb(212, 69, 69);
  padding: 0;
  font-size: larger;
}

body,
button {
  font-family: sans-serif;
}

/* <--------- Content before the game window --------->*/

#game_name {
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  color: var(--main-yellow-color);
  margin-bottom: -20px;
  text-shadow: 1px 1px 5px black;
}

h2 {
  line-height: 1.6;
  text-shadow: 1px 1px 5px black;
}

#directions {
  display: flex;
  white-space: nowrap;
}

#display-word {
  /* width: 200px; */
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#level-lives-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

/* <--------- Content after the game window --------->*/

/* button { */
/* background-color: blue;
  border-top-color: white;
  border-left-color: white;
  border-bottom-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0); */
/* } */

button {
  font-size: larger;
  font-weight: bold;
  /* border: 5px solid transparent; */
  transition: 0.2s ease;
  border-radius: 100px;

  background-color: var(--button-color-2);
  border: 5px solid var(--main-button-color);
}

button:hover {
  color: var(--main-button-color);
  transform: scale(1.1);

  color: var(--button-color-2);
  background-color: var(--main-button-color);
}

#play-button {
  /* this will be 'Play' or 'Play Again' or 
  'Next Level' or be hidden */
  /* width: 6rem; */
  padding: 2px 45px;
}

.hidden {
  visibility: hidden;
}

#container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2px;
}

.spacing {
  width: 67px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  /* background-color: violet; */
}

#music-toggle-container {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--main-button-color);
  /* background-color: blue; */
  position: relative;
}

#music-toggle-container::before {
  width: 6px;
  height: 6px;
  background-color: rgb(0, 121, 121);

  position: absolute;
  content: '';
  top: 5px;
  left: 3px;
  /* background-color: blue; */
}

#music-toggle-container::after {
  position: absolute;
  content: '';
  top: 1px;
  left: 5px;

  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;

  border-right: 7px solid rgb(0, 121, 121);
}

#cross-out-line {
  position: absolute;

  width: 18px;
  height: 2px;
  top: 6px;
  left: 0px;
  background-color: red;
  z-index: 1;
  transform: rotate(45deg);
}

/* <--------- Content for the game window ---------> */

.grid {
  display: flex;
  flex-wrap: wrap;
  /* 28 x 28 squares each square is 20px wide */
  width: 560px;
  height: 560px;
  /* border: 1px solid black; */
  box-shadow: 0 0 10px #060c0f;
  /* change the box-sizing to not border-box so the border is outside the grid
     it was wrapping weirdly without this */
  box-sizing: initial;
}

.grid div {
  width: 20px;
  height: 20px;
}

.character {
  display: inline-block;
  color: rgb(212, 69, 69);
  font-size: 50px;
  font-weight: bold;
  padding: 0px 2px;
  text-align: center;
  text-shadow: 0 0 5px black;
  /* width: 50px; */
  /* height: 70px; */
  /* border: 1px solid #2c5364; */
}

.letter {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: rgb(9, 15, 15);
  background: radial-gradient(rgb(239, 248, 191) 40%, rgb(212, 69, 69) 120%);
}

.pac-dot {
  background-color: green;
  border: 8px solid #0f2027;
}

.wall {
  background-color: #2c5364;
}

.power-pellet {
  /* background-color: green; */
  background: linear-gradient(45deg, green, rgb(130, 207, 160));
  border-radius: 10px;
}

.scared-ghost {
  /* background-color: aquamarine; */
  background: linear-gradient(45deg, aquamarine, rgb(75, 150, 146)) !important;
  border: 0px;
}

.blinky {
  background: linear-gradient(45deg, red, rgb(136, 39, 0));
  border: 0px;
}

.pinky {
  background: linear-gradient(45deg, rgb(68, 255, 146), rgb(55, 131, 99));
  border: 0px;
}

.inky {
  /* background-color: cyan; */
  background: linear-gradient(45deg, cyan, rgb(0, 81, 128));
  border: 0px;
}

.clyde {
  background: linear-gradient(45deg, rgb(255, 0, 255), rgb(146, 0, 134));
  border: 0px;
}

.pac-man {
  /* background-color: orange; */
  /* background: radial-gradient(#f64f59, #c471ed, #12c2e9); */
  /* background: radial-gradient(#12c2e9, #0b528d); */
  background: radial-gradient(var(--main-yellow-color), rgb(214, 240, 65));
  box-shadow: 0 0 20px var(--main-yellow-color);
  border-radius: 10px;
  z-index: 3;
  position: relative;
}

.pac-man::before {
  width: 5px;
  height: 5px;
  left: 2px;
  top: 4px;
  border-radius: 100%;
  background-color: rgb(71, 73, 0);
  position: absolute;
  content: '';
}

.pac-man::after {
  width: 5px;
  height: 5px;
  right: 2px;
  top: 4px;
  border-radius: 100%;
  background-color: rgb(71, 73, 0);
  position: absolute;
  content: '';
}

.ghost {
  position: relative;
}
.ghost::before {
  width: 5px;
  height: 5px;
  left: 2px;
  top: 4px;
  border-radius: 100%;
  background-color: rgb(46, 48, 0);
  position: absolute;
  content: '';
}
.ghost::after {
  width: 5px;
  height: 5px;
  right: 2px;
  top: 4px;
  border-radius: 100%;
  background-color: rgb(46, 48, 0);
  position: absolute;
  content: '';
}

/* <--------- Content for the game window animations ---------> */

#grid-container {
  position: relative;
}

.appearing-message {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 20%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: blue;
  color: var(--main-yellow-color);
  font-size: 50px;
  font-weight: bold;
  /* text-shadow: 0 0 5px black; */
  text-shadow: 0 0 20px black;

  visibility: hidden;
}

.won-animation {
  animation-duration: 5s;
  animation-name: won-keyframes;
  animation-timing-function: ease;
}

@keyframes won-keyframes {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1);
  }
  20% {
    transform: scale(1) rotate(360deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0;
  }
}

.lost-animation {
  animation-duration: 3600s;
  animation-name: lost-keyframes;
  animation-timing-function: ease;
}

@keyframes lost-keyframes {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1);
  }
  0.05% {
    transform: scale(1.5);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.wrong-letter-animation {
  animation-duration: 2s;
  animation-name: wrong-letter-keyframes;
  animation-timing-function: ease;
}

@keyframes wrong-letter-keyframes {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1);
  }
  20% {
    transform: scale(1);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.ghost-hit-animation {
  animation-duration: 2s;
  animation-name: ghost-hit-keyframes;
  animation-timing-function: ease;
}

@keyframes ghost-hit-keyframes {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1);
  }
  20% {
    transform: scale(1);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
